@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Fish Taco Finder</h1>
    <p class="lead">Tacos have been part of Mexico's culinary heritage for well over a hundred years. 
    These folded tortillas can be stuffed with any number of fillings—with each Mexican state 
    claiming stake to their own. Fish tacos are said to come from Baja California, Mexico's northernmost state.</p>
    <p><a href="https://www.epicurious.com/recipes/food/views/fish-tacos-352976" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>San Diego</h2>
        <p>
            "Entire religions have been founded on miracles less profound than the Ensenada fish taco."
        </p>
        <p><a class="btn btn-default" href="https://www.huffingtonpost.ca/entry/best-fish-taco-san-diego_n_5607927">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>San Franciso</h2>
        <p>SF restaurants provide plenty of fresh fish goodness, whether it's fried, grilled, smothered in baja sauce, or topped with shredded cabbage. The important thing is that no matter how you like your tacos, you like your tacos.</p>
        <p><a class="btn btn-default" href="https://sf.eater.com/maps/top-10-spots-for-fish-tacos-in-san-francisco">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Los Angeles</h2>
        <p>So you’ve decided you want a taco—more specifically, you want one of the best fish tacos in Los Angeles.</p>
        <p><a class="btn btn-default" href="https://www.timeout.com/los-angeles/restaurants/the-best-fish-tacos-in-los-angeles">Learn more &raquo;</a></p>
    </div>
</div>